<div class="row">
  <div class="span12">
    <h1>Your Lectures</h1>
  </div>
</div>

<div class="row">
  <div class="span12">
  	<ul class="nav nav-pills nav-stacked">
    <% for lecture in @lectures %>
    <li>
      <%= link_to lecture.title, lecture_path(lecture)%>
    <% end %>
    </li>
    </ul>
  </div>
</div>