<style type="text/css">
.MathJax_Display {text-align: left !important;}
audio{width:940px;}
</style>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/js/notes.js"></script>
<%= javascript_tag "
window.lecture_notes_url = '#{lecture_notes_url(@lecture)}';
window.related_lecture_notes_url = '#{related_lecture_notes_url(@lecture)}';
" %>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @lecture.title %></h1>
    </div>
    <% af = TwilioController.get_audio(Time.now,10,current_user) %>
    <%= javascript_tag "window.audio_timestamp = #{af[:timestamp].to_i*1000};" %>
    <% if af %>
      <audio src="<%= af[:recording].mp3 %>" controls>
      	<p>Boo Hoo, no HTML5 Audio for you</p>
      </audio>
   	<% end %>
    <table id="notelog" class="table table-striped">
    <tr id="headerrow">
      <th><div class="btn-group">
        <button class="btn dropdown-toggle" 
          data-toggle="dropdown" 
          href="#"
        >All</button>
      <ul class="dropdown-menu">
        <li><a id="showall"
          data-toggle="dropdown" 
          href="#"
        ></i>All</a></li>
        <li><a id="showimportant"
          data-toggle="dropdown" 
          href="#"
        ><i class="icon-star"></i> Important</a></li>
        <li><a id="showconfusing"
          data-toggle="dropdown" 
          href="#"
        ><i class="icon-question-sign"></i> Confusing</a></li>
      </ul>
      </div></th>
      <th></th>
      <th style="width:80%"></th></tr>
    </table>
    <input id="noteinput" placeholder="Type your notes here and press enter..." type="text" style="width:925px;height:50px"></input>

    <br><br><br>
    <br><br><br>
    <br><br><br>

  </div>
</div>
